<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
</header>
<div class="blog">
    <p>Список сотрудников</p>
    <form th:action="@{/admin}" method="GET"><br>
        <table>
            <thead>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата рождения</th>
            <th>Телефон</th>
            <th>Код департамента</th>
            <th>ЗП</th>
            <th>Статус</th>
            <th>Редактирование</th>
            </thead>
            <tr th:each="employee: ${list}">
                <td th:text="${employee.getId}"></td>
                <td th:text="${employee.getFirstName}"></td>
                <td th:text="${employee.getLastName}"></td>
                <td th:text="${employee.getDateOfBirth}"></td>
                <td th:text="${employee.getPhoneNumber}"></td>
                <td th:text="${employee.getCodeOfDepartment}"></td>
                <td th:text="${employee.getWage}"></td>
                <td th:text="${employee.getStatus}"></td>
                <td><a th:href="@{/switch/{id}(id=${employee.getId})}"
                       class="btn3">Смена статуса</a></td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>